:root {
  --main: #fdc500;
  --main1: #0064a8;
  --main2: #0d1029;
  --black: #000;
  --light-black: #161515;
  --body: #f8f8f8;
  --gray: #f9f9f9;
  --light: #fafafc;
  --white: #fff;
}

.acf-tabs {
  padding-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .acf-tabs {
    padding-bottom: 30px;
  }
}

.acf-tabs-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.acf-tabs-nav li {
  margin: 0;
  padding: 0;
}
.acf-tabs-nav li.active span {
  border-color: var(--main);
  background-color: var(--main);
  color: var(--main1);
}
.acf-tabs-nav span {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid var(--black);
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 460px) {
  .acf-tabs-nav span {
    font-size: 12px;
    padding: 2px 10px;
  }
}
.acf-tabs-nav span img {
  width: 32px;
  height: 32px;
  padding: 3px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100px;
}
.acf-tabs-nav span:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
  color: var(--main1);
}
.acf-tabs-nav span:hover span {
  color: var(--main1);
}
.acf-tabs-nav span:hover img {
  background-color: var(--white);
}

.acf-tab-content__wrap {
  display: flex;
  gap: 50px;
}
@media only screen and (max-width: 768px) {
  .acf-tab-content__wrap {
    flex-wrap: wrap;
    gap: 0;
  }
}
.acf-tab-content__wrap .acf-tab-content__left {
  width: 70%;
}
@media only screen and (max-width: 1300px) {
  .acf-tab-content__wrap .acf-tab-content__left {
    width: 60%;
  }
}
@media only screen and (max-width: 998px) {
  .acf-tab-content__wrap .acf-tab-content__left {
    width: 55%;
  }
}
@media only screen and (max-width: 768px) {
  .acf-tab-content__wrap .acf-tab-content__left {
    width: 100%;
  }
}
.acf-tab-content__wrap .acf-tab-content__right {
  width: 30%;
}
@media only screen and (max-width: 1300px) {
  .acf-tab-content__wrap .acf-tab-content__right {
    width: 40%;
  }
}
@media only screen and (max-width: 998px) {
  .acf-tab-content__wrap .acf-tab-content__right {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .acf-tab-content__wrap .acf-tab-content__right {
    width: 100%;
  }
}

.acf-tabs-content .acf-tab-content {
  display: none;
}

.acf-tabs-content .acf-tab-content.active {
  display: block;
}

.acf-tab-content__left h2 {
  padding-top: 50px;
}
.acf-tab-content__left .acf-video {
  margin-bottom: 50px;
}
.acf-tab-content__left .acf-video iframe {
  width: 100%;
}
.acf-tab-content__left .acf-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .acf-tab-content__left .acf-gallery {
    margin-bottom: 20px;
  }
}
.acf-tab-content__left .acf-gallery li {
  width: calc(25% - 10px);
}
.acf-tab-content__left .acf-gallery li a {
  display: block;
}
.acf-tab-content__left .acf-gallery li a img {
  width: 100%;
  height: auto;
}

.acf-tab-content__right__wrap {
  position: sticky;
  top: 120px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}
.acf-tab-content__right__wrap .price {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--main1);
  margin-bottom: 20px;
}
.acf-tab-content__right__wrap .price p {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.acf-tab-content__right__wrap .price * {
  color: var(--white);
}
.acf-tab-content__right__wrap ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.acf-tab-content__right__wrap ul li a {
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}
.acf-tab-content__right__wrap .btn-main {
  width: 100%;
}/*# sourceMappingURL=equipment.css.map */