@import "../../src/scss/variable";
.b-slider {
  position: relative;
  z-index: 1;
  .swiper-slide {
    height: 90vh;
    width: 100%;
    .b-slider__image {
      position: absolute;
      width: 100%;
      height: 100%;
      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .b-slider-conent {
      position: absolute;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .b-slider-conent__title {
        color: var(--white);
        font-size: 71px;
        line-height: 1.2;
        @media #{$md} {
          font-size: 61px;
        }
        @media #{$sm} {
          font-size: 51px;
        }
        @media #{$xs} {
          font-size: 41px;
        }
      }
      .b-slider-conent__desc {
        margin-bottom: 30px;
        p {
          font-size: 21px;
          @media #{$sm} {
            font-size: 18px;
          }
          @media #{$xs} {
            font-size: 16px;
          }
        }
        * {
          color: var(--white);
        }
      }
    }
  }
  .swiper-pagination--home {
    bottom: 100px;
    span {
      width: 22px;
      height: 22px;
      background-color: var(--main1);
      border: 1px solid var(--main);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      border: 3px solid var(--main);
    }
  }
}

// .h-middle {
//   position: absolute !important;
//   background: none !important;
//   .mega-menu-link {
//     color: var(--white) !important;
//   }
// }

.acf-block-preview {
  .b-slider {
    .swiper-wrapper {
      .swiper-slide {
        display: none;
        &:nth-child(1) {
          display: block;
        }
      }
    }
  }
}
